*{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#main
{
    height: 100%;
    width: 100%;
    background-color: rgb(173, 9, 9);
}

#nav
{
    display: flex;
    align-items: flex-start;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.902);
}

h4
{
    color: white;
}

#text
{
    text-align: center;
}